.App {
  font-family: sans-serif;
  text-align: center;
}

.Encabezado {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  background-color: rgb(11, 121, 51);
  color: white;
  border-radius: 5%;
  border-style: groove;
}

.Boton {
  background-color: rgb(35, 129, 35);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Registro {
  border-color: forestgreen;
  background-color: rgb(216, 235, 221);
}
.Guardar {
  background-color: rgb(19, 105, 19);
}

.ats {
  background-color: forestgreen;
}

.materias {
  border-color: forestgreen;
  background-color: rgb(216, 235, 221);
}

.carreras {
  border-color: forestgreen;
  background-color: rgb(216, 235, 221);
}

.software {
  border-color: forestgreen;
  background-color: rgb(216, 235, 221);
}
